.navbar {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(11 / 12 * 100%);
  max-width: 1160px;
  padding: 1rem 0;
}

.site-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 5px 0;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 8px white;
}

.site-name {
  font-weight: bold;
  font-size: 1.25rem;
  opacity: 0.75;
  color: var(--text-white);
  letter-spacing: 2px;
}

.nav-links {
  display: flex;
}

.link-items {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
  color: white;
  font-weight: 500;
  font-weight: medium;
}

.buttons-container {
  display: flex;
  column-gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

.btn {
  color: var(--text-white);
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 255, 0.75);
  background: var(--bg-btn);
}